html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  box-shadow: 0 1px 2px -1px rgba(32, 33, 36, 1);
  background: #fdfdfd;
  margin-top: 1rem;
  border-radius: 12px;
}
.grid {
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  align-items: center;
  margin: 0 0 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . .";
  background-color: rgb(22, 190, 177);
  background: linear-gradient(160deg, #00cdb9, #ad7bd0);
  margin-bottom: 0;
}

.grid .card {
  height: 7.7rem;
  width: 7.7rem;
  margin: 0.2rem 0.2rem;
  background: #141214;
  font-size: 0;
  color: #ffffff;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  padding: 4rem;
}

.grid .card.open {
  transform: rotateY(0);
  background: #ad7bd0;
  cursor: default;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.grid .card.show {
  font-size: 33px;
}

.grid .card.match {
  cursor: default;
  background: #00cdb9;
  font-size: 33px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
}

.grid .card.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
  background: #e2043b;
}

.grid .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.score-bar {
  text-align: left;
  margin-bottom: 10px;
}

.score-bar .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-bar .stars li {
  list-style: none;
  display: inline-block;
}

.score-bar .restart {
  float: right;
  cursor: pointer;
}

.fa-star {
  color: #000000;
}

.timer {
  display: inline-block;
  margin: 0 1rem;
}

/*
 * Styles for score card modal
 */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 30rem;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: -3px;
  right: 7px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #ad7bd0;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

#starRating li {
  display: inline-block;
}

#play-again {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  color: #ffffff;
  border-radius: 5px;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.button-success {
  background: #ad7bd0;
}

@media (max-width: 1020px) {
  .grid .card {
    height: 5.7rem;
    width: 5.7rem;
  }
}
